.category-card {
    background-color: #F5F5DC;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 16px;
    padding: 16px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    font-family: cursive;
    border-radius: 25px;


  }
  
  .category-card h2 {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    text-align: center;
  }
  
  .category-card p {
    color: rgb(255, 255, 255);
    font-family: serif;
    font-weight: bold;
    font-size: 18px;
    margin: 8px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px;
    border-radius: 25px;


  }
  
  .category-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
  }
  
  .category-list .category-card {
    margin: 16px;
  }
  